/* myStyle.css */
body {
	background-color:white;
}

h1 {
 
 color: white;
 text-align: left;
 font-size: 18px;
 padding-top:55px;
 padding-left: 250px;
 font-family: Arial;
 font-weight:bold;
 
}

h1#f1 {
 
 color: #FF4E50;
 font-size: 22px;
 text-align:center;
 padding-right:200px;
 font-family: Arial;
 font-weight:bold;
 
}
nav {
	color:white;
  text-align:right;
  margin: 0;
  padding-bottom:0px;
  padding-right:700px;
}
p#pic{
	color: white;
 text-align: center;
 font-size: 55px;
 padding-top:60px;
 font-family: Arial;
 font-weight:bold;
}
p#pid{
	color: white;
 text-align: center;
 font-size: 55px;
 font-family: Arial;
 font-weight:bold;
}
p#pig{
	color: white;
 text-align: center;
 font-size: 30px;
 font-family: Helvetica;
 font-weight:thin;
}
p#pis{
	color: #444444;
	padding-top:50px;
 text-align: center;
 font-size: 30px;
 font-family: Arial;
 font-weight:bold;
	
}
button{
	color:white;
	background-color:#FF4E50;
 text-align: center;
 font-size: 30px;
 font-family: Helvetica;
	
}

p#fid{
	text-align:left;
	padding-bottom:50px;
}
p#fif{
	text-align:center;
	background-image:block2Wellness.jpg;
}
p#fis{
	text-align:right;
}
p#sports{
	text-align:center;
	color:black;
	padding-top:150px;
	font-family:sans-serif;
	font-weight:bold;
	font-size:25px;
}
p#all{
	text-align:center;
	color:white;
	padding-top:150px;
	font-family:sans-serif;
	font-weight:bold;
	font-size:25px;
}
hr{
	height: 3px;
    color: #FF4E50;
    background-color: #FF4E50;
    border: none;
}





